@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
    height: 36px;
  width: 60%;
  border: 3px solid #d8ecef;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: rgb(161, 48, 11);
}

.searchButton {
  height: 36px;
  border: 1px solid #F40000;
  background: #F40000;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 100%;
}
/* button */
/* CSS animation button add to cart2 */
.footer .button {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 12px;
    color: rgb(193, 163, 98);
    border: 2px solid rgb(255, 251, 0);
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
  }
  
  .footer  .button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 70px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: rgb(193, 163, 98);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .footer  .button:hover::before {
    scale: 3;
  }
  
  .footer  .button:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
  }
  
  .footer  .button:active {
    scale: 1;
  }
